{% extends 'base.html.twig' %}

{% block title %}{{tache.titre}} | TaskLinker {% endblock %}

{% block body %}
        <main>
            <header>
                <div id="current-user"></div>
                <div id="title-page">
                    <h1>{{tache.titre}}</h1>
                </div>
            </header>
            <div id="content">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                </br>
                <button class="button button-submit">Modifier</button>
                <a href="{{path('app_tache_delete', {id: tache.id} )}}" class="delete-task">Supprimer la tâche</a>
                {{ form_end(form) }}
            </div>
        </main>
{% endblock %}