{% extends 'base.html.twig' %}

{% block title %} {{ employe.prenom }} {{ employe.nom }} | TaskLinker{% endblock %}

{% block body %}

<main>
    <header>
        <div id="current-user"></div>
        <div id="title-page">
            <h1>{{ employe.prenom }} {{ employe.nom }}</h1>
        </div>
    </header>
    <div id="content">
        {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.email) }}
            <div class="form-flex">
                <div>
                    {{ form_row(form.dateArrivee) }}
                </div>
                <div>
                    {{ form_row(form.contrat) }}
                </div>
            </div>
            <button class="button button-submit">Enregistrer</button>
        {{ form_end(form) }}
    </div>
</main>


{% endblock %}